.title {
	text-align: center;

}


.completo{
	width: 100%;
	background-color: #fff;
}

.alcentro {
	height: 40px;
	width: 350px;
	left: 0;
	text-align: center;
	margin:0 auto;
	border-radius: 100% 100% 0% 0%;
	}

.alcentro:hover {
	height: 70px;
}

.box {
	background-color: rgb(204,204,204);
}

.text-secondary {
	text-align: justify;
	background-blend-mode: difference;
}

.jumbo-container {
	background-image: url("../img/main.png");
	background-repeat: no-repeat;
	background-position:-180px;
	background-color: #e9ecef;
	background-size: 25%;
}

.img-round {
	display: block;
	border-radius: 50%;
	height: 200px;
	width: 200px;
	margin-left: auto;
 	margin-right: auto;
	text-align: center;
	padding-top: 10px;
}

.rounded-box {
	border-radius: 5%;

}

.centered {
	align-content: center;
	text-align: center;
}

.cardbutton {
	display:inline-block;
}

.backbuttons{
	padding-bottom: 10px;

}


.scrollable {
	position: relative;
	height: 70vh;
	overflow-y: scroll;

}


.statictext {
	padding-top: 10px;
}

.indexbox {
	background-color: #e0e0eb;
}

.plantextbox {
	background-color: #efeff5;
}

.pie {
	background-color: #343a40;
	color:#fff;
}

.tema{
	text-align: justify;

}

.subtema {
	padding-left: 20px;
	text-align: justify;
}

.botonplanatab{
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: right;
}

.indilinks {
	color:#343a40;

}

.iconito {

	padding-left: 5px;
	padding-right: 5px;
}

.modheader {
	color:#fff;
}

.modulbox {
	height: 15rem;
	max-width: 18rem;
	border-radius: 10%;
	display:inline-flex;


}

.modulback {
	background-image: url("../img/Graph2.png");
	background-repeat: no-repeat;
	background-position:center;
	background-color: #e9ecef;
	background-size: 78%;
}

.imgch {
	align-content: right;
	text-align: right;
	max-width:85px;
  	max-height:50px;
}

.texunderline {
	text-decoration: underline;
}


.videx {
	width: 100%;
	height: 400px;
	padding-bottom: 40px;
	display: inline-flex;
}

.transp {
	opacity: 0.1;
}

.opa{
	opacity: .9;
}

.texture1 {
	background:linear-gradient(135deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px),
               linear-gradient(225deg, #708090 21px, #d9ecff 22px, #d9ecff 24px, transparent 24px, transparent 67px, #d9ecff 67px, #d9ecff 69px, transparent 69px)0 64px;;
	background-color:#708090;
	background-size: 64px 128px;
	width: 100%;

}

.carr {
	opacity: .4;
}

.encim{
	display: inline-block;
}

.texture2{
	background-color: hsl(2, 57%, 40%);
background-image: repeating-linear-gradient(transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
repeating-linear-gradient(270deg, transparent, transparent 50px, rgba(0,0,0,.4) 50px, rgba(0,0,0,.4) 53px, transparent 53px, transparent 63px, rgba(0,0,0,.4) 63px, rgba(0,0,0,.4) 66px, transparent 66px, transparent 116px, rgba(0,0,0,.5) 116px, rgba(0,0,0,.5) 166px, rgba(255,255,255,.2) 166px, rgba(255,255,255,.2) 169px, rgba(0,0,0,.5) 169px, rgba(0,0,0,.5) 179px, rgba(255,255,255,.2) 179px, rgba(255,255,255,.2) 182px, rgba(0,0,0,.5) 182px, rgba(0,0,0,.5) 232px, transparent 232px),
repeating-linear-gradient(125deg, transparent, transparent 2px, rgba(0,0,0,.2) 2px, rgba(0,0,0,.2) 3px, transparent 3px, transparent 5px, rgba(0,0,0,.2) 5px);
}
